html,

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
  background-color: #ffbb91
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*.navbar-brand {
	font-family: Poppins, sans-serif;
	font-weight: 800;
	font-size: 40px;

}*/

.welcome {
	font-family: Be Vietnam, sans-serif;
	font-weight: 300;
	color: #679b9b;
	margin: 0px;
	padding: 0px;
}

.your-bread {
	font-family: Poppins, sans-serif;
	font-weight: 800;
	font-size: 50px;
	color: #679b9b;
	margin: 0px;
	padding: 0px;
}

.transactions {
	font-family: Poppins, sans-serif;
	font-weight: 800;
	font-size: 40px;
	color: #679b9b;
	margin: 0px;
	padding: 0px;
}

.history-table {
	font-family: Montserrat, sans-serif;
	justify-content: right;
}

/*.dashboard-box {
	padding-left: 5vw;
	background-color: #ffeadb;
	margin: 5vw;
	width: 90vw;
	height: 50vw;
	max-height: 70vw;
	border-radius: 50px 50px 50px 50px;
}
*/
.history-table {
	margin-left:10vw;
	margin-right:10vw;
}

.subtitle {
	font-family: Be Vietnam, sans-serif;
	font-weight: 800;
	color: #637373;
}

.footer-main {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
}
